{% extends 'base.html' %} {% block head %} {% endblock %}
 
 {% block body %}
  <nav class="header" >
  <h1 class="appname">
    Real-Time Communication System Powered by AI for the Specially Abled
  </h1>
  </nav>
  <div class="upData">
  <form method="POST" action="/signtospeech">
    <p class="imgcont"><img id="output" src="../static/images/sign.jpg"/></p><br>
  <div id="upfile" class="upfile">
    <span>Upload File</span>
    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" >
  </div>
  <!-- <button style="width: 200px;"><label for="file" style="cursor: pointer;">Upload Image</label></button><br/> -->
 <div>
  <button id ="text" type="submit" hidden="hidden" style="width: 200px;" >Show Text</button>
  
 </div>
  </form>
  </div>
  
  {% endblock %}
</html>
 