a {
  text-decoration: none;
  display: block;
  color: white;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: rgba(4,170,109,0.6); */
}
form {
  border: 3px solid #f1f1f1;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  height: auto;
}

.upData {
  width: 30%;
}

.cont {
  width: 30%;
  border: 3px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 49%;
}

button:hover {
  opacity: 0.8;
}

.buttoncont {
  display: flex;
  justify-content: space-between;
}

.appname {
  position: relative;
  text-align: center;
  color: #f1f1f1;
}

.header {
  padding: 50px;
  width: 100%;
  background-color: #04aa6d;
  position: absolute;
  top: 0px;
  left: 0px;
}

.optimg {
  width: 90%;
  max-height: 350px;
}

.dbcont {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.optcont {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #f1f1f1;
  margin-top: 10%;
}

.opt {
  width: 80%;
  margin-bottom: 40px;
}

.imgcont {
  display: flex;
  justify-content: center;
  min-width: 80%;
  margin-top: 0px;
}

#output {
  width: 70%;
  max-width: 90%;
  max-height: 280px;
}

#output::after {
  content: "\a";
  white-space: pre;
}

.output {
  margin-top: 5%;
}

.upfile {
  position: relative;
  overflow: hidden;
  margin: 10px;
  padding: 14px 20px;
  background-color: #04aa6d;
  color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

span {
  font-size: 13px;
}

input[type="file"] {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.convertbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 100%;
  max-width: 100%;
  padding-left: 8px;
}

.output {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.red_btn {
  display: block;
  min-width: 47%;
  max-width: 47%;
}
